body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 50px;
}
.highlight{
    color:orange;
}
.flexible-width{
    display: flex;
    margin-bottom: 150px;
    
}
.half-width{
    width: 50%;
    padding-left: 30px;
}
.half-width img{
    width: 80%;
    padding-top:10px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 123, 0),orange);
    padding:6px 8px;
    font-weight: 800;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.db-banner{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
   background-position:right bottom;
}
#exp{
    padding-left: 30px;
}

.experiences{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 0 20px;
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 180px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
   background-position: left;
}
#left-exp{
    border-left: 10px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#right-exp{
    border-left:10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}